.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.muted .avatar {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.feedback {
    display: block;
    width: 150px;
    height: 20px;
    background-color: red;
}

.level {
    display: block;
    height: 20px;
    width: 0px;
    background-color: #62C462;
}

.hidden {
    display: none;
}

